*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************
* Global styles
*********************/

.container {
  width: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;

  transition: all ease-in-out 0.25s;
}

.container header *,
.container main section *,
.container aside * {
  font-family: "Inter", sans-serif;
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-areas:
      "header header"
      "main main";
    grid-template-columns: 1fr 500px;
  }

  .container.withfullaside {
    grid-template-areas:
      "header ."
      "main .";
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  aside {
    grid-area: aside;
    z-index: 1;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (min-width: 1024px) {
  .container.withfullaside .hide-on-desktop-without-aside {
    display: none;
  }

  .container:not(.withfullaside) .hide-on-desktop-with-aside {
    display: none;
  }
}

@media (max-width: 1023px) {
  .hide-on-mobile {
    display: none !important;
  }
}

main>*:not(.main-footer) {
  font-family: "Inter", sans-serif;
}

.section {
  padding-bottom: 48px;
}

.section__container {
  padding: 0 25px;
}

@media (min-width: 1024px) {
  .section__container {
    padding: 0;
    margin: 0 auto;
    max-width: 911.486px;
  }
}

@media (min-width: 1024px) {
  .section__container--with-aside {
    position: relative;
    left: -256px;
  }

  .container.withfullaside .section__container--with-aside {
    left: 0;
  }
}

.section__title-2 {
  color: #674957;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 116.667% */
  letter-spacing: -0.48px;
  margin: 0 auto 19px;
  max-width: 305px;
}

@media (min-width: 1024px) {
  .section__title-2 {
    font-size: 38px;
    line-height: 42px;
    /* 110.526% */
    letter-spacing: -0.76px;
    margin-bottom: 24px;
    max-width: 764px;
  }
}

.section__title-2--shorter {
  max-width: 644px;
}

.section__title-2--bigger-bottom {
  margin-bottom: 40px;
}

.section__title-2__rose {
  color: #ff6074;
  display: block;
}

@media (min-width: 1024px) {
  .section__title-2__rose {
    display: inline-block;
  }
}

.section__subtitle {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.32px;
  margin: 0 auto 24px;
}

@media (min-width: 1024px) {
  .section__subtitle {
    font-size: 20px;
    line-height: 24px;
    /* 120% */
    letter-spacing: -0.4px;
    max-width: 612px;
  }
}

#changing-words {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
}

#changing-words::after {
  content: "";
  border-right: 4px solid #fff;
  margin-left: 5px;
  background-color: transparent;
  animation: pisca 1s infinite;
  position: relative;
  top: 2px;
}

@keyframes pisca {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/*********************
 * CTA component
 *********************/
.cta {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 8.087px 32.348px;
  justify-content: center;
  align-items: center;
  gap: 12.939px;
  flex-shrink: 0;
  border-radius: 80.87px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .cta {
    width: fit-content;
  }
}

.cta>span {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
}

.cta>svg,
.cta>img {
  width: 7px;
  height: 14px;
  flex-shrink: 0;
  stroke-width: 3px;
}

.cta.cta--black {
  background: #000;
}

.cta.cta--black>span {
  color: #fff;
}

.cta.cta--black>svg {
  stroke: #fff;
}

.cta.cta--rose {
  background: #ff6074;
}

.cta.cta--rose>span {
  color: #fff;
}

.cta.cta--rose>svg {
  stroke: #fff;
}

.cta.cta--transparent {
  background: transparent;
}

.cta.cta--transparent>span {
  color: #000;
}

.cta.cta--transparent>svg {
  stroke: #000;
}

.cta.cta--small span {
  font-size: 13.772px;
  line-height: 33.412px;
  /* 242.609% */
  letter-spacing: -0.275px;
}

@media (min-width: 1024px) {
  .cta.cta--small span {
    font-size: 20px;
    line-height: 48.522px;
    /* 242.609% */
    letter-spacing: -0.4px;
  }
}

.cta.cta--full-width {
  width: 100%;
}

.cta.cta--down img {
  transform: rotate(90deg);
}

.cta.cta--type2 {
  padding: 0;
}

@media (max-width: 1023px) {
  .cta.cta--type2 {
    display: none;
  }
}

.cta.cta--type2>span {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.cta.cta--type2>img {
  transform: rotate(90deg);
}

.cta.cta--visited {
  background-color: #3beb82 !important;
  color: #000 !important;
}

.cta.cta--visited span {
  color: #000 !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 48.522px;
  /* 242.609% */
  letter-spacing: -0.4px;
}

#cta-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
  margin-bottom: -16px;
}

@media (min-width: 1024px) {
  #cta-bottom {
    display: none;
  }
}

#cta-bottom span {
  font-weight: 400;
}

#cta-bottom img {
  width: 28px;
  height: 13px;
  stroke-width: 2px;
}

#cta-top {
  max-width: 280px;
  margin: 0;
}

@media (min-width: 1024px) {
  #cta-top {
    max-width: 395px;
  }
}


/*********************
 * Header component
 *********************/
.header-on-top {
  position: relative;
  overflow: hidden;
  aspect-ratio: 390 / 336;

  background-image: url("/images/depilacaoalaser/bg-header-mobile-small.png");
  background-size: cover;
}

@media (min-width: 1024px) {
  .header-on-top {
    aspect-ratio: 1440 / 677;
    background-image: url("/images/depilacaoalaser/bg-header-desktop.png");
  }

  .container.withfullaside .header-on-top {
    aspect-ratio: unset;
    height: 677px;
  }
}

.header-on-top__fade {
  position: absolute;
  top: 16%;
  left: 0;
}

@media (min-width: 1024px) {
  .header-on-top__fade {
    top: 0;
    left: 0;
    width: 666px;
  }
}

.header-on-top__content {
  position: absolute;
  bottom: 26px;
  left: 26px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  width: calc(100% - 52px);
}

@media (min-width: 1024px) {
  .header-on-top__content {
    top: 0;
    bottom: 0;
    left: 77px;
    align-items: flex-start;
    justify-content: center;
    max-width: 420px;
    gap: 40px;
    width: auto;
  }
}

.header-on-top__title {
  display: flex;
  flex-direction: column;

  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 115.385% */
  letter-spacing: -0.52px;

  width: 100%;
}

@media (min-width: 1024px) {
  .header-on-top__title {
    font-size: 42px;
    line-height: 46px;
    /* 109.524% */
    letter-spacing: -0.84px;
  }
}

/*********************
 * colunar component
 *********************/
.colunar {
  margin-bottom: 23px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

@media (min-width: 1024px) {
  .colunar {
    flex-direction: row-reverse;
    align-items: center;
    max-width: 911.486px;
    margin: 0 auto 40px;
  }
}

.colunar--full-width {
  width: 100%;
  max-width: 1441px;
  /* 911 (max section) + 530 (max aside_ */
}

.colunar__image {
  position: relative;
  margin-bottom: -25px;
}

@media (min-width: 1024px) {
  .colunar__image {
    margin-bottom: 0;
    position: static;
    width: 50%;
    transform: scale(1.15);
    z-index: 0;
    max-height: 526px;
  }

  .colunar__image--no-scale {
    transform: scale(1);
  }

  .colunar--full-width .colunar__image {
    width: 80%;
    max-width: none;
    margin-left: -10px;
    max-height: 370px;
    overflow: hidden;
  }
}

.colunar__text {
  background-color: #ffe6e4;
  padding: 40px 25px 25px;
}

.colunar--rosa-forete .colunar__text {
  background-color: #ff6074;
}

.colunar--quartz .colunar__text {
  background-color: #48495a;
}

@media (min-width: 1024px) {
  .colunar__text {
    padding: 24px;
    width: 50%;
    min-height: 566px;
    border-radius: 0px 40px 40px 0px;
    z-index: 1;
  }

  .colunar--full-width .colunar__text {
    width: 100%;
    min-height: 414px;
  }
}

.colunar__text-title {
  color: #ff6074;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
  letter-spacing: -0.4px;
  margin-bottom: 16px;
}

.colunar--rosa-forete .colunar__text-title {
  color: #48495a;
}

.colunar--quartz .colunar__text-title {
  color: #fff;
}

@media (min-width: 1024px) {
  .colunar__text-title {
    font-size: 28px;
    line-height: 32px;
    /* 114.286% */
    letter-spacing: -0.56px;
    margin-bottom: 24px;
  }
}

.colunar__text-content {
  color: #48495a;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 125% */
  letter-spacing: -0.32px;
}

.colunar--rosa-forete .colunar__text-content {
  color: #fff;
}

.colunar--quartz .colunar__text-content {
  color: #fff;
}

@media (min-width: 1024px) {
  .colunar__text-content {
    font-size: 22px;
    line-height: 26px;
    /* 118.182% */
    letter-spacing: -0.44px;
  }
}

ul.colunar__text-content {
  padding-left: 25px;
}

ul.colunar__text-content li,
div.colunar__text-content p {
  margin-bottom: 12px;
}

@media (min-width: 1024px) {

  ul.colunar__text-content li,
  div.colunar__text-content p {
    margin-bottom: 16px;
  }
}

.colunar__text-title+.colunar__text-content p {
  font-weight: 400;
}

ul.colunar__text-content li:last-child {
  margin-bottom: 0;
}

.colunar__text-content__row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.colunar__text-content__row>ul {
  padding-left: 25px;
}

.colunas__float-price {
  position: absolute;
  top: 16px;
  right: 41px;
  z-index: 1;
}

@media (min-width: 1024px) {
  .colunas__float-price {
    top: 45px;
    right: 17px;
  }
}

/*********************
 * Video component
 *********************/
.video-embed {
  margin: 0 auto 16px;
  text-align: center;
}

@media (min-width: 1024px) {
  .video-embed {
    margin-bottom: 34px;
  }
}

.video-embed__iframe {
  aspect-ratio: 332 / 188;
  width: 100%;
  border-radius: 16px;
}

@media (min-width: 1024px) {
  .video-embed__iframe {
    aspect-ratio: 800 / 453;
    margin: 0 auto;
    max-width: 800px;
  }
}

/*********************
 * Horizontal List component
 *********************/
.horizontal-list {
  display: flex;
  min-height: 307px;

  align-items: center;
  gap: 19.023px;

  max-width: 837px;
  margin: 0 auto 23px;
  overflow-y: hidden;
  overflow-x: auto;
}

@media (min-width: 1024px) {
  .horizontal-list {
    margin-bottom: 40px;
  }
}

.horizontal-list__item {
  align-self: stretch;

  display: flex;
  width: 266.318px;
  min-height: 307px;
  padding: 15.218px 15.218px 30px;
  flex-direction: column;
  align-items: center;
  gap: 15.218px;
  flex-shrink: 0;
  border-radius: 15.218px;
  background: #efefef;
}

.horizontal-list__item:first-child {
  margin-left: 25px;
}

.horizontal-list__item:last-child {
  margin-right: 25px;
}

@media (min-width: 1024px) {
  .horizontal-list__item:first-child {
    margin-left: 0;
  }

  .horizontal-list__item:last-child {
    margin-right: 0;
  }
}

.horizontal-list__item__description {
  color: #000;
  text-align: center;
  font-size: 11.414px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.218px;
  /* 133.333% */
  letter-spacing: -0.228px;
}

.horizontal-list__item__description>span {
  font-size: 15.218px;
  display: block;
  margin-top: 1rem;
}

.horizontal-list__item__image {
  width: 85.602px;
  height: 85.602px;
  flex-shrink: 0;
  border-radius: 431.491px;
}

/*********************
 * Aside component
 *********************/
.aside {
  background-color: #f5f5f5;
  box-shadow: -5px 0px 10px -1px rgba(0, 0, 0, 0.2);
  padding: 40px;

  margin-top: -165px;

  position: sticky;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.container.withfullaside .aside {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1023px) {
  .aside {
    display: none;
  }
}

.aside__title {
  color: #ff6074;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  /* 106.25% */
  letter-spacing: -0.64px;

  max-width: 419px;
  margin-bottom: 48px;
}

.aside__chat {
  margin-bottom: 127px;
}

.aside__chat-item {
  background: #dedede;
  border-radius: 16px 16px 16px 0px;

  padding: 16px 24px;
  display: block;
  max-width: 344px;
  margin-bottom: 16px;

  color: #000;
  font-size: 16px;
  line-height: normal;
}

.aside__chat-item:last-child {
  margin-bottom: 0;
}

.aside__chat-item small {
  color: #000;
  text-align: right;
  display: block;

  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.aside__input-area {
  border-radius: 16px;
  background: #fff;

  width: 419px;
  min-height: 72px;
  padding: 10px 24px;

  display: flex;

  align-items: center;
  gap: 10px;
}

.aside__input-area.aside__input-area-shake-horizontal {
  animation: input-area-shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes input-area-shake-horizontal {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

.aside__input-area input {
  border: none;
  outline: none;
  flex: 1;

  color: rgba(0, 0, 0, 0.6);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.aside__input-area button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*********************
 * Footer element
 *********************/
@media (min-width: 1024px) {
  .main-footer .wrapper {
    flex-wrap: nowrap;
  }

  .main-footer .wrapper .footerCol h3,
  .main-footer .wrapper .footerCol .footerSectionTitle {}

  .main-footer .wrapper .footerCol {
    min-width: 140px;
  }
}

/*********************
 * Slideshow component
 *********************/
.album-photos {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  animation: album-photos-mobile 15s infinite;
}

@media (min-width: 1024px) {
  .album-photos {
    background-size: cover;
    animation-name: album-photos-desktop;
  }
}

.album-photos picture {
  visibility: hidden;
}

@keyframes album-photos-mobile {

  0%,
  100% {
    background-image: url(/images/depilacaoalaser/img03-desktop.jpeg);
    margin-left: 0px;
  }

  35% {
    background-image: url(/images/depilacaoalaser/img04-desktop.jpeg);
  }

  70% {
    background-image: url(/images/depilacaoalaser/img05-desktop.jpeg);
  }
}

@keyframes album-photos-desktop {
  0%, 100% {
    background-image: url(/images/depilacaoalaser/img03-mobile.jpeg);
    margin-left: 0px;
  }

  35% {
    background-image: url(/images/depilacaoalaser/img04-mobile.jpeg);
  }

  70% {
    background-image: url(/images/depilacaoalaser/img05-mobile.jpeg);
  }
}