@font-face {
  font-family: Brandon Text Black;
  src: url("/fonts/BrandonText-Black.woff");
}

@font-face {
  font-family: Brandon Text Bold;
  src: url("/fonts/BrandonText-Bold.woff");
}

@font-face {
  font-family: Brandon Text Regular;
  src: url("/fonts/BrandonText-Regular.woff");
}

.header {
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  left: 0;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 150;
}

.header .wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: calc(100% - 60px);
  max-width: 1060px;
  margin: auto;
  position: static;
}

.header li a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.header button {
  font-family: inherit;
  color: currentColor;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  cursor: pointer;
}

.header .icon {
  width: 24px;
}

.header .logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: block;
}

@media (min-width: 1024px) {
  .header .logo {
    position: relative;
  }
}

.header .logo-center {
  position: absolute;
}

@media (max-width: 1023px) {
  .header {
    height: 50px;
  }

  .header .logo-center.logo {
    height: 80px;
    margin-top: -33px;
  }
}

@media (min-width: 1024px) {
  .header .logo-center.logo {
    height: 140px;
    margin-top: -30px;
  }
}

.header .logo-wrapper-mobile {
  display: none;
}

@media (max-width: 1023px) {
  .header .logo-wrapper-mobile {
    display: block;
  }
}

.header .logo-wrapper-desktop {
  display: none;
  height: 60px;
}

@media (min-width: 1024px) {
  .header .logo-wrapper-desktop {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header .call-menu {
    position: absolute;
    display: none;
  }
}

@media (min-width: 1024px) {
  .header {
    background: #fff;
  }

  .header .logo {
    height: 80%;
  }

  .header .menu__nav {
    margin-left: 25px;
  }

  .header .social {
    margin-left: 18px;
  }

  .header .social li {
    margin: 0 0 0 20px;
  }

  .header .social li:first-child {
    margin: 0;
  }

  .header .social .icon {
    width: 20px;
  }
}

@media (min-width: 1400px) {
  .header .social {
    margin-left: 48px;
  }
}

@media (max-width: 767px) {
  .header {
    height: 50px;
  }
}

.header__last {
  margin-right: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 1023px) {
  .header__last {
    display: none;
  }
}

.header__last > * {
  margin-left: 15px;
}

@media (min-width: 768px) {
  .header__last > * {
    margin-left: 30px;
  }
}

.header__last > :first-child {
  margin-left: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.6, 0.6, 0.56, 0.56) 0.2s;
}

.menu .inner {
  width: 85%;
  height: 100%;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s cubic-bezier(0.6, 0.6, 0.56, 0.56);
  background: #fff;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

@media (min-width: 1024px) {
  .menu .inner {
    overflow-x: visible;
    overflow-y: visible;
  }
}

.menu .inner .header-ui--mobile {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.is-menuOpen .menu {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s cubic-bezier(0.6, 0.6, 0.56, 0.56);
}

.is-menuOpen .menu .inner {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.6, 0.6, 0.56, 0.56) 0.3s;
}

.menu .menu__close {
  display: block;
  width: 23px;
  height: 23px;
  color: transparent;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAArCAMAAADWg4HyAAAAP1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADf398gICD///9wcHBAQEAY/dtEAAAAD3RSTlMAIN/PYBDvgJCPv6+fcFCyB3YGAAAA+klEQVQ4y5WUW67DIAxEBwx5J9M89r/We1W1VmJoIOeLj6PRAJZhcPMknqQfxuBwQ2yFZ7zqqdkwoc/ai5omOw3t+YveXkn4G3EX1fMOf5aF90hUVbuWOweWWbRsmSZqgzLtO5ZKMTiQ1cHXtvuqx3XnGbEV9u21ftXXdpWdVlDhI+tJmTEylbMqJwzMyDmVAs+MfGRUepAZeVP1DJhy/LsHU57kPuor1e8wYKp+3xFz9b+FR/MAqZwzD6BlHQFAbFiFQ3VwB5jg4upZqtp+6CoafInFffZkTz7fv+XOXYQl5Hs0CzK4LmO2Gmptky3WtPo4eJJeptle6Q9lWFTF/R//zQAAAABJRU5ErkJggg==");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: pointer;
}

.menu .menu__logo {
  display: block;
  width: 110px;
  height: auto;

  margin: 0 auto 45px;
}

@media (min-width: 1024px) {
  .menu {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    background: transparent;
    visibility: visible;
    opacity: 1;
  }

  .menu .menu__close {
    display: none;
  }

  .menu .menu__logo {
    display: none;
  }

  .menu .inner {
    padding: 0;
    width: auto;
    max-width: none;
    height: auto;
    background: transparent;
    transform: none;
  }
}

.menu__nav {
  position: relative;
  color: #2d2748;
  margin-top: 24px;
  margin-bottom: auto;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;

  list-style: none;
}

.menu__nav li {
  font-family: "Brandon Text", sans-serif;
  line-height: normal;
  display: inline-block;
  position: relative;
  padding: 14px 0;
  border-top: 1px solid #d9d9d9;
}

.menu__nav-checkbox,
.menu__nav-label-icon {
  display: none;
}

@media (max-width: 1023px) {
  .menu__nav li {
    display: block;
  }

  .menu__nav .menu__nav-label {
    padding: 0 10px 0 0;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu__nav .menu__nav-checkbox:checked + .menu__nav-label {
    padding-bottom: 14px;
  }

  .menu__nav-label-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu__nav-label-icon svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    opacity: 0.7;
    transform: rotate(90deg);
  }

  .menu__nav
    .menu__nav-checkbox:checked
    ~ .menu__nav-label
    .menu__nav-label-icon
    svg {
    transform: rotate(-90deg);
  }

  .menu__nav .dropdown-content li > a,
  .menu__nav .dropdown-content li > label {
    padding-left: 18px;
  }

  .menu__nav .dropdown-content li > ul > li > a,
  .menu__nav .dropdown-content li > ul > li > label {
    padding-left: 36px;
  }
}

.menu__nav li a svg,
.dropdown-content .menu__nav-label-icon svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
  opacity: 0.7;
}

.dropdown-content
  .menu__nav-checkbox:checked
  + .menu__nav-label
  .menu__nav-label-icon
  svg {
  top: unset;
}

.menu__nav li:last-child {
  padding-bottom: 0;
}

@media (min-width: 1024px) {
  .menu__nav li:hover > ul {
    display: block;
    overflow: unset;
    border-radius: 4px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

@media (max-width: 1023px) {
  .menu__nav .menu__nav-checkbox:checked ~ ul {
    display: block !important;
    width: 100%;
    position: static !important;
  }
}

.menu__nav > li:hover:after {
  content: "";
  height: 20px;
  width: 100%;
  display: block;
  position: absolute;
}

@media (max-width: 1023px) {
  .menu__nav > li:hover:after {
    display: none;
  }
}

ul.menu__nav,
ul.menu__nav ul {
  padding: 0;
}

ul.menu__nav ul {
  position: absolute;
  display: none;
  margin: 0;
}

ul.menu__nav ul li {
  display: block;
}

ul.menu__nav ul ul {
  position: absolute;
  top: 0;
  left: 100%;
}

.menu__cta-whats,
.menu__cta-whats:hover {
  font-family: "Brandon Text", sans-serif;
  border-radius: 100px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 160px;
  max-width: 340px;
  height: 44px;
  background-color: #0b6530;
  animation: pulse 2s infinite;
}

button.dropbtn {
  display: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.1em;
}

@media (min-width: 1024px) {
  button.dropbtn {
    display: inline-block;
  }

  .menu__nav li {
    display: inline-block;
    vertical-align: middle;
    border-top: 0;
    padding: 0 10px;
    border-left: 1px solid #a39fb0;
    line-height: 1rem;
    letter-spacing: 0.1em;
    font-size: 12px;
  }

  .menu__nav li:first-child {
    border-left: 0;
    padding-left: 0;
  }

  .menu__nav li:focus-within a {
    outline: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    border-radius: 4px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-btn {
    position: relative;
  }

  .dropdown-content li {
    color: #2d2748;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
  }

  .dropdown-content a,
  .dropdown-content .menu__nav-label {
    color: #2d2748;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content .menu__nav-label-icon {
    display: inline-block;
  }

  .dropdown-content a:hover,
  .dropdown-content .menu__nav-label:hover {
    color: black;
    background: #d8d8d8;
  }
}

.menu__nav .menu__nav__btn {
  border-top: 0;
  text-transform: none;
  padding-top: 12px;
}

.menu__nav .menu__nav__btn .btn {
  width: 100%;
}

@media (min-width: 1024px) {
  .menu__nav .menu__nav__btn {
    display: none;
  }
}

@media (min-width: 1024px) {
  .menu__nav {
    margin-top: 0;
  }

  .menu__nav:before {
    display: none;
  }
}

@media (max-width: 1023px) {
  .header-ui--desktop {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .header-ui--mobile {
    display: none !important;
  }
}

.header .icon {
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  height: auto;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.header .icon:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.icon-menu {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 16'%3E%3Cpath fill='%237B7B7B' d='M1 0h20c.6 0 1 .4 1 1s-.4 1-1 1H1c-.6 0-1-.4-1-1s.4-1 1-1zM1 7h20c.6 0 1 .4 1 1s-.4 1-1 1H1c-.6 0-1-.4-1-1s.4-1 1-1zM1 14h20c.6 0 1 .4 1 1s-.4 1-1 1H1c-.6 0-1-.4-1-1s.4-1 1-1z'/%3E%3C/svg%3E");
}

/* HIDDEN LILLY LASER CLUB FROM MENU */
body > header > div > nav > div > ul > li:nth-child(3) > ul > li:nth-child(1) {
  display: none;
}
