.product-lp {
  margin-top: 50px;
}

.product-lp__cover {
  aspect-ratio: 414 / 250;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

  position: relative;
}

.product-lp__cover--mobile {
  display: block;
  aspect-ratio: 414 / 350;
}

.product-lp__cover--tablet, .product-lp__cover--desktop {
  display: none;
}

.product-lp__cover--mobile a,
.product-lp__cover--tablet a,
.product-lp__cover--desktop a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  font-size: 0;
}

@media screen and (min-width: 768px) {
  .product-lp__cover {
    aspect-ratio: 834 / 221;
    margin-bottom: 30px;
  }

  .product-lp__cover--tablet {
    display: block;
    aspect-ratio: 834 / 230;
  }

  .product-lp__cover--mobile, .product-lp__cover--desktop {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__cover {
    max-width: 1060px;
    max-height: 280px;
    margin: 0 auto 40px;
  }

  .product-lp--sp .product-lp__cover {
    margin-top: 80px;
  }

  .product-lp__cover--desktop {
    display: block;
    max-height: 300px;
    aspect-ratio: 1060 / 300;
  }

  .product-lp__cover--mobile, .product-lp__cover--tablet {
    display: none;
  }
}

.product-lp__description-type {
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 6px;
}

.product-lp__description-type--high {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .product-lp__description-type {
    font-size: 20px;
    margin-bottom: 7px;
  }

  .product-lp__description-type img {
    width: 32px;
    height: 32px;
  }

  .product-lp__description-type--high {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__description-type {
    margin-bottom: 30px;
  }

  .product-lp__description-type--high {
    margin-bottom: 35px;
  }
}

.product-lp__description-title {
  font-weight: 300;
  font-size: 31px;
  line-height: 37px;
  text-align: center;
  margin: 0 20px 19px;
}

@media screen and (min-width: 768px) {
  .product-lp__description-title {
    font-size: 36px;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__description-title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 40px;
  }
}

.product-lp__description-text {
  margin: 0 20px 35px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .product-lp__description-text {
    font-size: 20px;
    line-height: 28px;
    max-width: 642px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__description-text {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 30px;
    max-width: 880px;
  }

  .product-lp__description-text--small {
    font-size: 20px;
    line-height: 28px;
  }
}

.product-lp__desc-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 28px;
  margin: 0 auto 40px;
  padding: 0 31px;
  width: 100%;
}

.product-lp__desc-columns .product-lp__desc-column {
  width: 100%;
}

.product-lp__desc-columns .product-lp__description-text {
  margin: 0 0 35px;
}

.product-lp__desc-columns .product-lp__cta {
  margin-bottom: 0;
}

.product-lp__desc-columns video {
  width: 100%;
  height: auto;
  aspect-ratio: 521 / 293;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .product-lp__desc-columns {
    gap: 25.5px;
    max-width: 642px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__desc-columns {
    flex-direction: row;
    gap: 22px;
    max-width: 1060px;
  }

  .product-lp__desc-columns .product-lp__desc-column {
    width: 100%;
    max-width: 50%;
  }

  .product-lp__desc-columns .product-lp__desc-column:nth-child(2) {
    padding: 0 22px;
  }

  .product-lp__desc-columns .product-lp__cta {
    margin-left: 0;
    margin-right: 0;
  }

  .product-lp__desc-columns .product-lp__description-text {
    text-align: left;
  }
}

.product-lp__cta {
  border-radius: 100px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 340px;
  height: 44px;
  margin: 0 auto 40px;
}

@media screen and (min-width: 768px) {
  .product-lp__cta {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__cta {
    font-size: 20px;
    height: 54px;
    gap: 12px;
  }

  .product-lp__cta img {
    width: 20px;
    height: 21px;
  }
}

.product-lp__cta-1 {
  background-color: #96697F;
}

.product-lp__cta-2 {
  background-color: #13C75B;
}

.product-lp__cta--fixed {
  display: none;
}

.product-lp__cta--dark {
  background-color: #000000;
  border-radius: 96.0452px;
  font-style: normal;
  font-weight: bold;
  font-size: 17.209px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  gap: 7px;
}

@media screen and (min-width: 768px) {
  .product-lp__cta--dark {
    font-size: 19.209px;
  }
}

.product-lp__cta--dark img {
  width: 22px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .product-lp__cta--dark img {
    width: 24px;
  }
}

.product-lp__cta--dark.product-lp__cta--fixed {
  background-color: #FF6074;
  border-radius: 10px 10px 0px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .product-lp__cta--fixed {
    display: flex;
    position: sticky;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 58px;
    border-radius: 0;
    margin: 0;

    background: #13C75B;
    border-radius: 10px 10px 0px 0px;

    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
  }
}

.whatsapp-cta {
  display: none;
}

@media screen and (min-width: 768px) {
  .whatsapp-cta {
    display: block;
  }

  .whatsapp-cta--dark {
    border: 0px;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 17px;
    right: 16px;
    z-index: 999;
    transition: bottom 2s ease 0s;
    background-color: #ff6074;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.product-lp__columns {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 0 auto 30px;
  width: 100%;
  max-width: 340px;
}

@media screen and (min-width: 768px) {
  .product-lp__columns {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 22px;
    margin-bottom: 31px;
    max-width: 642px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__columns {
    margin-bottom: 41px;
    max-width: 1060px;
  }
}

.product-lp__box {
  background-color: #F7F7F7;
  border-radius: 8px;
  padding: 18px 29px;
  display: block;
}

@media screen and (min-width: 1024px) {
  .product-lp__box {
    padding: 36px 55px;
  }
}

.product-lp__box-title {
  color: #96697F;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 10px;
}

.product-lp__box:last-child .product-lp__box-title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .product-lp__box-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__box-title {
    font-size: 26px;
    line-height: 32px;
  }
}

.product-lp__box-list {
  color: #55555D;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .product-lp__box-list {
    font-size: 13px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__box-list {
    font-size: 18px;
    line-height: 22px;
  }
}

.product-lp__box-list--centered {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-left: auto;
  margin-bottom: 11px;
  list-style-position: inside;
}

@media screen and (min-width: 1024px) {
  .product-lp__box-list--centered {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 36px;
  }
}

.product-lp__box-list--stringed {
  list-style: none;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .product-lp__box-list--stringed {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}

.product-lp__box-list--stringed li {
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-lp__box-list--stringed li div {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media screen and (min-width: 1024px) {
  .product-lp__box-list--stringed li div+div {
    font-weight: bold;
  }
}

.product-lp__box-list--stringed li+li {
  border-top: none;
}

.product-lp__comparative {
  display: block;
  margin: 0 36px;
}

.product-lp__comparative-warning {
  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  color: #FE7170;

  margin: 0 auto 7px;
  max-width: 257px;
}

@media screen and (min-width: 768px) {
  .product-lp__comparative-warning {
    max-width: none;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__comparative-warning {
    font-size: 18px;
    line-height: 38px;
  }
}

.product-lp__comparative-title {
  font-family: "Brandon Text";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
  text-align: center;

  color: #48495B;

  margin: 0 auto 19px;
  max-width: 257px;
}

@media screen and (min-width: 768px) {
  .product-lp__comparative-title {
    font-size: 36px;
    line-height: 34px;
    max-width: none;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__comparative-title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 36px;
  }
}

.product-lp__comparative-table {
  margin-bottom: 32px;
}

.product-lp__comparative-table table {
  font-family: 'Brandon Text';
  font-weight: 300;
  margin: 0 auto;
}

.product-lp__comparative-table table tr th {
  background: #d9d9d9;
  border: 2px solid #f2f2f2;
}

.product-lp__comparative-table table thead tr th p {
  color: #44455a;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  margin: 0;
  text-transform: uppercase;
  padding: 0 20px;
}

.product-lp__comparative-table table tr th:first-child,
.product-lp__comparative-table table tr th:last-child {
  visibility: hidden;
}

.product-lp__comparative-table table tr th:nth-child(2) {
  border-radius: 12px 0px 0px 0px;
  width: 280px;
}

.product-lp__comparative-table table tr th:nth-child(4) {
  border-radius: 0px 12px 0px 0px;
}

.product-lp__comparative-table table tbody tr td {
  background-color: #EEEEEE;
  color: #44455a;
  font-size: 18px;
  line-height: 22px;
  font-family: "Brandon Text";
  font-weight: bold;
  padding: 0 20px;
  text-align: center;
  border: 2px solid white;

  font-style: normal;
  text-transform: uppercase;

  color: #000000;

  height: 60px;
}

/* .product-lp__comparative-table table tbody tr td.small {
  font-size: 12px;
  line-height: 14px;
}

.product-lp__comparative-table table tbody tr td.big {
  font-size: 16px;
  line-height: 48px;
} */

.product-lp__comparative-table table tbody tr td:first-child span {
  font-family: 'Brandon Text';
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  text-transform: uppercase;
}

.product-lp__comparative-table table tbody tr td:nth-child(3) {
  font-weight: bold;
}

.product-lp__comparative-table table tbody tr td:nth-child(4) span {
  font-weight: 300;
}

.product-lp__comparative-table table tbody tr.concorrente td:first-child {
  background: #48a7f4;
  color: #fff;
  border-radius: 12px 0 0 12px;
  padding: 0 50px;
}

.product-lp__comparative-table table tbody tr.llc td:first-child {
  background: #ff7ba0;
  color: #ffffff;
  border-radius: 12px 0 0 12px;
  padding: 0 50px;
}

.product-lp__comparative-table table tbody tr td:nth-child(4) {
  font-size: 24px;
  line-height: 60px;
  font-weight: 400;
  height: 65px;
  display: flex;
  align-items: first baseline;
  gap: 0.2rem;
}

.product-lp__comparative-table table tbody tr td:nth-child(4) span:first-child {
  font-size: 14px;
}

.product-lp__comparative-table table tbody tr td:nth-child(4) span:last-child {
  text-transform: lowercase;
}

.product-lp__comparative-table table tbody tr td:nth-child(4) span.table-price {
  font-weight: bold;
  font-size: 20px;
}

.product-lp__comparative-table table tbody tr td:last-child {
  border-radius: 0px 12px 12px 0px;
  padding: 0 20px;
}

.product-lp__comparative-table table tbody tr.llc td:first-child {
  background: #ff7ba0;
  color: #ffffff;
  border-radius: 12px 0 0 12px;
  padding: 0 50px;
}

@media (max-width: 1160px) {
  .product-lp__comparative-table table tr th:nth-child(2) {
    width: 249px;
  }

  .product-lp__comparative-table table tbody tr td {
    padding: 0px 10px;
  }

  .product-lp__comparative-table table tbody tr td {
    font-size: 16px;
  }

  .product-lp__comparative-table table tbody tr td:first-child span {
    font-size: 16px;
    line-height: 48px;
  }

  .product-lp__comparative-table table tbody tr.llc td:first-child, .product-lp__comparative-table table tbody tr.concorrente td:first-child {
    padding: 0px 10px;
  }

  .product-lp__comparative-table table tbody tr td:nth-child(4) {
    font-size: 22px;
  }

  .product-lp__comparative-table table tbody tr.llc td:first-child, .product-lp__comparative-table table tbody tr.concorrente td:first-child {
    padding: 0px 10px;
  }
}

@media (max-width: 990px) {
  .product-lp__comparative-table table tr th:nth-child(2) {
    width: 205px;
  }

  .product-lp__comparative-table table thead tr th p {
    line-height: 40px;
    padding: 0 10px;

    font-weight: 400;
    font-size: 12.7723px;
    line-height: 34px;
  }

  .product-lp__comparative-table table tbody tr td,
  .product-lp__comparative-table table tbody tr td:nth-child(3),
  .product-lp__comparative-table table tbody tr td:nth-child(4) span.table-price,
  .product-lp__comparative-table table tbody tr td.small {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    height: 53px;
  }

  .product-lp__comparative-table table tbody tr td.small {
    font-size: 12px;
    padding: 0 5px;
  }

  .product-lp__comparative-table table tbody tr td.big {
    font-size: 16px;
    padding: 0;
  }

  .product-lp__comparative-table table tbody tr td:nth-child(4) {
    line-height: 53px;
    height: 53px;
  }

  .product-lp__comparative-table table tbody tr td:nth-child(4) span {
    font-weight: normal;
    font-size: 18px;
  }

  .product-lp__comparative-table table tbody tr td:nth-child(4) span:first-child {
    font-size: 14px;
  }

  .product-lp__comparative-table table tbody tr td:nth-child(4) span.table-price {
    font-size: 20px;
  }

  .product-lp__comparative-table table tbody tr td:last-child {
    padding: 0 10px;
  }

  .product-lp__comparative-table table tbody tr td:first-child span {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .product-lp__comparative-table table thead {
    display: none;
  }

  .product-lp__comparative-table table tbody {
    display: flex;
    flex-direction: row;
  }

  .product-lp__comparative-table table tbody tr {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .product-lp__comparative-table table tbody tr td {
    padding: 0px 10px;
    height: 53px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .product-lp__comparative-table table tbody tr td,
  .product-lp__comparative-table table tbody tr td:nth-child(3),
  .product-lp__comparative-table table tbody tr td:nth-child(4) span.table-price,
  .product-lp__comparative-table table tbody tr td.small {
    height: 53px;
  }

  .product-lp__comparative-table table tbody tr.llc td:first-child, .product-lp__comparative-table table tbody tr.concorrente td:first-child {
    border-radius: 12px 12px 0 0;
  }

  .product-lp__comparative-table table tbody tr td:last-child {
    border-radius: 0px 0px 12px 12px;
  }

  .product-lp__comparative-table table tbody tr.llc td:first-child, .product-lp__comparative-table table tbody tr.concorrente td:first-child {
    border-radius: 12px 12px 0 0;
  }

  .product-lp__comparative-table .table-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
  }
}


.product-lp__description-section {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .product-lp__description-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 646px;
  }
}

@media screen and (min-width: 992px) {
  .product-lp__description-section {
    max-width: 880px;
  }
}

.product-lp__description-section__title {
  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 330;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 7px;
}

@media screen and (min-width: 768px) {
  .product-lp__description-section__title {
    font-size: 32px;
    line-height: 48px;
  }
}

@media screen and (min-width: 992px) {
  .product-lp__description-section__title {
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 14px;
  }
}

.product-lp__description-section__subtitle {
  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 450;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .product-lp__description-section__subtitle {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 992px) {
  .product-lp__description-section__subtitle {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 31px;
  }
}

.product-lp__description-section__paragraph {
  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 330;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 26px;
}

.product-lp__description-section__paragraph+.product-lp__description-section__paragraph {
  margin-top: -13px;
}

@media screen and (min-width: 768px) {
  .product-lp__description-section__paragraph {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  .product-lp__description-section__paragraph+.product-lp__description-section__paragraph {
    margin-top: -15px;
  }
}

@media screen and (min-width: 992px) {
  .product-lp__description-section__paragraph {
    margin-bottom: 41px;
  }

  .product-lp__description-section__paragraph+.product-lp__description-section__paragraph {
    margin-top: -20px;
  }
}

.product-lp__faq-section {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .product-lp__faq-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 646px;
  }
}

@media screen and (min-width: 992px) {
  .product-lp__faq-section {
    max-width: 880px;
  }
}

.product-lp__faq-section__title {
  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 450;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .product-lp__faq-section__title {
    font-size: 28px;
    line-height: 34px;
  }
}

@media screen and (min-width: 992px) {
  .product-lp__faq-section__title {
    font-size: 32px;
    line-height: 34px;
  }
}

.product-lp__faq-section__content {
  padding: 0;
  margin: 0 auto 30px;
}

.product-lp__faq-section__question {
  position: relative;
  margin: 0;
  cursor: pointer;

  min-height: 43px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11.73px;

  padding: 7.3306px 11.729px;
  border: 0.73306px solid #C4C4C4;
  border-radius: 5.86448px;
}

@media screen and (min-width: 992px) {
  .product-lp__faq-section__question {
    min-height: 58px;
    padding: 12px 16px;
  }
}

.product-lp__faq-section__question span {
  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 450;
  font-size: 14.6612px;
}

@media screen and (min-width: 768px) {
  .product-lp__faq-section__question span {
    font-size: 14.6612px;
    line-height: 25px;
  }
}

@media screen and (min-width: 992px) {
  .product-lp__faq-section__question span {
    font-size: 20px;
    line-height: 34px;
  }
}

.product-lp__faq-section__questions:checked~.product-lp__faq-section__question span {
  color: #569BE8;
}

.product-lp__faq-section__answers {
  padding: 0px 15px;
  margin: 5px 0;
  width: 100% !important;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  transition: .3s ease;

  font-family: 'Brandon Text';
  font-style: normal;
  font-weight: 330;
  font-size: 14.6612px;
  line-height: 21px;
  color: #55555D;
}

@media screen and (min-width: 768px) {
  .product-lp__faq-section__answers {
    font-size: 14.6612px;
    line-height: 21px;
  }
}

@media screen and (min-width: 992px) {
  .product-lp__faq-section__answers {
    font-size: 20px;
    line-height: 28px;
  }
}

.product-lp__faq-section__questions:checked~.product-lp__faq-section__answers {
  height: auto;
  opacity: 1;
  padding: 15px;
}

.product-lp__faq-section__plus {
  position: absolute;
  right: 11.729px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  user-select: none;
  transition: .3s ease;

  transform: rotate(90deg);
}

.product-lp__faq-section__questions:checked~.product-lp__faq-section__question .product-lp__faq-section__plus {
  transform: rotate(270deg);
}

.product-lp__faq-section__questions {
  display: none;
}


.product-lp__testimony {
  background-color: #f7f7f7;
}

.product-lp__testimony__wrapper {
  width: calc(100% - 40px);
  max-width: 1060px;
  margin: 0 auto;
  padding: 60px 0;
}

.product-lp__testimony__title {
  font-family: "Brandon Text Light";
  font-size: 1.625rem;
  font-weight: 300;
  line-height: 1.1;
  color: #555c66;
  margin-bottom: 27px;
  text-align: center;
}

.product-lp__testimony__clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .product-lp__testimony__clients {
    flex-direction: row;
  }
}

.product-lp__testimony__client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.product-lp__testimony__client-photo {
  width: 100px;
  height: 100px;
  display: inline-block;
  border-radius: 50%;
}

.product-lp__testimony__client-text {
  font-family: "Brandon Text Light";
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: #555c66;
  text-align: center;
}

.product-lp__testimony__client-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.product-lp__testimony__client-name strong {
  font-size: 1rem;
  font-family: "Brandon Text Bold";
  font-weight: normal;
}

.product-lp__testimony__client-name em {
  font-size: 1rem;
  font-family: "Brandon Text Light";
  font-weight: normal;
  font-style: italic;
}

.product-lp__empty-footer {
  background-color: #48546C;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;

  padding-top: 30px;

  height: 417px;
}

@media screen and (min-width: 768px) {
  .product-lp__empty-footer {
    padding-top: 40px;
    height: 279px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__empty-footer {
    padding-top: 73px;
    height: 480px;
  }
}

.product-lp__empty-header {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: -50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .product-lp__empty-header {
    margin-bottom: -50px;
    height: 45.46px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__empty-header {
    margin-bottom: -80px;
    height: 80px;
  }
}

.product-lp__empty-header-wrapper {
  display: flex;
  height: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;

  max-width: 1060px;
  margin: 0 auto;

  position: relative;

  background-image: url("/images/logo-dark.svg");
  background-repeat: no-repeat;
  background-size: 100% 75%;
  background-position: center center;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .product-lp__empty-header-wrapper {
    padding-right: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__empty-header-wrapper {
    padding: 0;
  }
}

.product-lp__empty-header__logo {
  aspect-ratio: 83 / 80;
  width: 100%;
  height: 80px;
  margin-top: 13px;
}

@media screen and (min-width: 768px) {
  .product-lp__empty-header__logo {
    height: 95px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__empty-header__logo {
    height: 150px;
    margin-top: 41px;
  }
}

.product-lp__empty-header__cta {
  display: none;
  margin: 0;
  border: 1px solid #48495B;
  font-size: 16px;
  height: 36px;
  color: #48495B;
  max-width: 300px;
}

@media screen and (min-width: 768px) {
  .product-lp__empty-header__cta {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__empty-header__cta {
    right: 0;
    top: 20px;
  }
}

.product-lp__alert {
  background-color: #FF6074;
  padding: 14px 32.5px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;

  min-height: 60px;
}

.product-lp__alert span {
  max-width: 219px;
}

@media screen and (min-width: 768px) {
  .product-lp__alert {
    padding: 15px 32.5px;
    min-height: 50px;
  }

  .product-lp__alert span {
    max-width: 477px;
  }
}

@media screen and (min-width: 1024px) {
  .product-lp__alert {
    padding: 15px 0;
    min-height: 50px;
    margin-top: 80px;
  }
}