.help-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;

  align-items: center;
  justify-content: center;
}

.help-modal.active {
  display: flex;
}

.help-modal-box {
  background-color: transparent;
  background-image: url("/components/help-modal/images/help-modal-box.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 320px;
  height: 343px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;

  position: relative;
}

.help-modal-box.help-modal-form-iframe {
  padding: 0;
}

.help-modal-box.help-modal-form-response {
  padding: 70px 0;
}

.help-modal-box-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: transparent;
  background-image: url("/components/help/images/help-modal-box-close-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  display: block;
  position: absolute;
  right: 0px;
  top: -32px;
}

.help-modal-box-link {
  width: 275px;
  height: 52px;
  margin: auto;

  display: block;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.help-modal-box-title {
  width: 231px;
  height: 33px;
  margin: auto;

  display: block;
  background-color: transparent;
  background-image: url("/components/help-modal/images/help-modal-box-title.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.help-modal-box-link:nth-of-type(1) {
  background-image: url("/components/help-modal/images/help-option-01.png");
}

.help-modal-box-link:nth-of-type(2) {
  background-image: url("/components/help-modal/images/help-option-02.png");
}

.help-modal-box-link:nth-of-type(3) {
  background-image: url("/components/help-modal/images/help-option-03.png");
}

.help-modal-form-title {
  width: 260px;
  height: 74px;
  margin: auto;

  display: block;
  background-color: transparent;
  background-image: url("/components/help-modal/images/help-modal-form-title.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.help-modal-form-input {
  width: 260px;
  height: 42px;

  background: #EDEDED;
  border-radius: 50px;
  padding: 10px 24px;

  border: none;

  font-style: normal;
  font-weight: 390;
  font-size: 16px;
  line-height: 22px;

  color: #000000;

  font-family: "Brandon Text Bold";
}

.help-modal-form-input[placeholder="Nome"] {
  margin-bottom: 16px;
}

.help-modal-form-send {
  width: 260px;
  height: 40px;
  margin: auto;

  display: block;
  background-color: transparent;
  background-image: url("/components/help-modal/images/help-modal-send-btn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  cursor: pointer;
}

.help-modal-form-response-title {
  font-family: "Brandon Text Bold";
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 254px;
}

.help-modal-form-response-subtitle {
  font-family: "Brandon Text Regular";
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 254px;
}

.help-modal-form-response-close {
  width: 196px;
  height: 40px;

  display: block;
  background-color: transparent;
  background-image: url("/components/help-modal/images/help-modal-close-btn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  cursor: pointer;
}

.help-modal-form-iframe {
  border: 0;
  border-radius: 16px;
  width: 320px;
  height: 343px;
}